body{
    /*overflow:hidden;*/
	font-family:"Lucida Console", Monaco, monospace;
}
table {
    table-layout: fixed;
}
td {
    word-wrap: break-word;
}
#footer {
   background-color: gray;
   position:absolute;
   bottom:0;
   width:100%;
   height:45px; 
   font-family: "Lucida Console", Monaco, monospace;
   font-size:14px;
	
}
        
        