body{
	
	/*background-image: url(images/PicsArt_05-27-11.24.51.jpg);*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: auto;
	overflow:hidden;
        
        
}

#container p{
	font-family: "Lucida Console", Monaco, monospace;
	font-size:65px;
}
hr{
	background-color: black;
	height: 3px;
}
#tabela div{
	font-family:"Lucida Console", Monaco, monospace;
	font-size:17px;
	
}
#tabela img{
	border-radius: 45px;  
}

#footer {
   background-color: gray;
   position:absolute;
   bottom:0;
   width:100%;
   height:45px; 
   font-family: "Lucida Console", Monaco, monospace;
   font-size:14px;
	
}