body{
	overflow:hidden;
	font-family:"Lucida Console", Monaco, monospace;
	
}
.style1 {
    font-size: 10px;
}


#footer{
	background-color: gray;
	position:absolute;
   bottom:0;
   width:100%;
   height:45px; 
   font-size:14px;
	
}