body{
	overflow:hidden;
	font-family:"Lucida Console", Monaco, monospace;
	
}

table {
    counter-reset:section;
	}
.idINCREMENT:before {
    counter-increment:section;
    content:counter(section);
}
.tabela{
    /*background-color: #d6d6c2;
    border-color: #d6d6c2;*/
}
#footer{
	background-color: gray;
	position:absolute;
   bottom:0;
   width:100%;
   height:45px; 
   font-family:"Lucida Console", Monaco, monospace;
   font-size:14px;
	
}

