body{
	overflow:hidden;
	font-family:"Lucida Console", Monaco, monospace;
}
.style1 {
	font-size: 20px;
}
.dugme{
    background-color: light-gray;
	  /*adjust the roundness*/
    border-radius: 4px;
    moz-border-radius: 4px;
    webkit-border-radius: 4px;
    /*adjust height and width*/
    height: 40px;
    width: 90px; 
    /*change border colour*/
    border:2px #4d4d33 solid;
}


.style2{
	font-size: 36px;
}
.style4 {
	font-size: 18px;
	}

	
#footer{
	background-color: gray;
	position:absolute;
   bottom:0;
   width:100%;
   height:45px; 
    font-size:14px;
    font-family:"Lucida Console", Monaco, monospace;
}