html {
    overflow-y: scroll; 
}
body{
	height:100%;
	font-family:"Lucida Console", Monaco, monospace;
	
}
/*table {
            table-layout: fixed;
        }*/
td {
            word-wrap: break-word
        }
#footer {
    clear:both;
   background-color: gray;
   position:fixed;
   bottom:0;
   width:100%;
   height:45px; 
   font-family: "Lucida Console", Monaco, monospace;
   font-size:14px;
	
}