body{
	height:100%;
	font-family:"Lucida Console", Monaco, monospace;
	
}
.style1 {
    font-size: 10px;
}


#footer{
    clear:both;
	background-color: gray;
	position:fixed;
   bottom:0;
   width:100%;
   height:45px; 
   font-size:14px;
	
}