table {
     table-layout: fixed;
}
td {
    word-wrap: break-word;
}
body{
	overflow:hidden;
	font-family:"Lucida Console", Monaco, monospace;
	
}
#footer{
	background-color: gray;
	position:absolute;
   bottom:0;
   width:100%;
   height:45px; 
   font-size:14px;

	
}