.style1 {
	font-size: 24px;
	font-weight: bold;
}
.style2 {color: #FFFFFF}
.style3 {
	color: #000000;
	font-size: 10px;
}
body{
	overflow:hidden;
	font-family:"Lucida Console", Monaco, monospace;
	
}
#footer{
	background-color: gray;
	position:absolute;
   bottom:0;
   width:100%;
   height:45px; 
   font-size:14px;

	
}

